<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <SelfContained>false</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishTrimmed>false</PublishTrimmed>
        <PublishReadyToRun>false</PublishReadyToRun>
        <DebugType>none</DebugType>
        <DebugSymbols>false</DebugSymbols>
        <PublishDir>$(MSBuildProjectDirectory)/../../artifacts/publish/linux-x64-framework-dependent/</PublishDir>
    </PropertyGroup>
</Project>
