<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishTrimmed>false</PublishTrimmed>
        <PublishReadyToRun>false</PublishReadyToRun>
        <DebugType>none</DebugType>
        <DebugSymbols>false</DebugSymbols>
        <PublishDir>$(MSBuildProjectDirectory)/../../artifacts/publish/win-x64-self-contained/</PublishDir>
    </PropertyGroup>
</Project>
